{% extends 'home/base_home.html' %}

{% block bodyContent %}

    <div class="botnav">
        <a href="/entry/lru">LRU</a>
        <a href="/entry/port">Port</a>
        <a href="/entry/connector">Connector</a>
        <a href="/entry/wire">Wire</a>
    </div>
    <div class="split left">
        <div class="centered">
            <div style="padding-left:16px">
                {% comment %} <h2>Add a LRU</h2> {% endcomment %}
                <form class = "form" action="/entry/lru/" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-outline-info" type="submit">Save LRU</button>
                </form>
            </div>
            <p>Some text.</p>
        </div>
    </div>
      
    <div class="split right">
        <div class="centered">
            
            <p>Some text here too.</p>
        </div>
    </div>

{% endblock %}