{% extends 'home/base_home.html' %}

{% block bodyContent %}

    <div class="botnav">
        <a href="/entry/lru">LRU</a>
        <a href="/entry/port">Port</a>
        <a href="/entry/connector">Connector</a>
        <a href="/entry/wire">Wire</a>
    </div>
    <div style="padding-left:16px">
        <h2>Add a Wire</h2>
        <form class = "form" action="/entry/wire/" method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-info" type="submit">Save Wire</button>
        </form>
    </div>

{% endblock %}