{% extends "userSignIn/base_login.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% comment %} {% block linksContent%}
    
{% endblock linksContent%} {% endcomment %}

{% block titleContent %}
    <title>Neo4j DB Editor User Sign In</title>
{% endblock titleContent %}

{% block bodyContent %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <fieldset class"form-group">
                <legend class="border-bottom mb-4">Register New User</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>

            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>

{% endblock bodyContent %}